# On Railway web service, use the internal Railway MySQL URL:
# MYSQL_PUBLIC_URL=mysql://user:password@mysql.railway.internal:3306/database
#
# From your local computer, use Railway Public Networking instead:
# MYSQL_PUBLIC_URL=mysql://user:password@switchyard.proxy.rlwy.net:public_port/database
#
# Railway can also use DATABASE_URL instead of MYSQL_PUBLIC_URL.
# PORT=3000
